[Unit]
Description=Create netns directory
Before=paunch-container-shutdown.service
Wants=
[Service]
Type=oneshot
ExecStart=/sbin/ip netns add placeholder
KillMode=process
[Install]
WantedBy=multi-user.target

